<div class="sidebar">
    <ul id="navbar" class="navbar">
        <li><img src="/img/logo.svg"></li>
        <li><a href="/learning">Learning</a></li>
        <li><a href="/hub/performance">Performance</a></li>
        <li><a href="/network">Network</a></li>
        <li><a href="/hub/logout">Logout</a></li>
    </ul>
</div>
