<% include partials/header %>
    <div class="content" style="position: fixed !important">
        <div class="half blue">

        </div>
        <form class="login" method="POST" action="/">
            <h1 id="main">MlHub²</h1>
            <h2>Welcome back!</h2>
            <input type="password" id="key" name="key" placeholder="Enter key"><br>
            <input type="submit" value="Log In">
        </form>
    </div>
<% include partials/footer %>
